/* Add additional stylesheets below
-------------------------------------------------- */

h1 {
 text-align: center;
 margin: 28px 0px 0px 0px;
 font-family: 'Orbitron', sans-serif;
 font-size: 45px;
}

#border {
    background-color: #696969;
    position: relative;
    left: 33%;
    top: 60px;
    width: 450px;
    height: 380px;
}

.battleGrid {
    border: 1px solid black;
    position: relative;
    border-spacing: 0px;
    margin: -20px 0px 0px 28px;
    top: 41px;
    left: 25px;
    background-color: white;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}