/* Add additional stylesheets below
-------------------------------------------------- */
body {
    background-color: #c9c2c1;
}
.direction-box {
    background-color: #6e76dd;
    border-style: solid;
    width: 320px;
    font-family: 'Bitter', serif;
    font-size: 12px;
    position: absolute;
    left: 55px;
    top: 125px;
}

.text-in-box {

}

.win-button{
    height: 15px;
    width: 15px;
    background-color: red;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.lose-button{
    height: 15px;
    width: 15px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.title-thing{
    list-style: none;
}

h1 {
 text-align: center;
 margin: 28px 0px 0px 0px;
 font-family: 'Orbitron', sans-serif;
 font-size: 45px;
}

#border {
    background-color: #696969;
    position: relative;
    left: 33%;
    top: 60px;
    width: 450px;
    height: 380px;
}

.battleGrid {
    border: 1px solid black;
    position: relative;
    border-spacing: 0px;
    margin: -20px 0px 0px 28px;
    top: 41px;
    left: 25px;
    background-color: #66d8f4;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.sonar {
    background-color: gray;
}

.current {
    background-color: black;
    border-radius: 100%;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: red;
}

.sink {
    background-color: red;
}

.miss {
    background-color: white;
}

h3{
    font-family: 'Teko', sans-serif;
    text-decoration: underline;
    font-size: 200%;
    position: relative;
    bottom: 400px;
    left: 950px;
}
#ship_buttons{
    list-style-type: none;
    position: relative;
    bottom: 440px;
    left: 908px;
}

button{
    font-size: 110%;
    font-weight: 700;
    background: none;
    border: none;
    margin-top: 5px;
}

#sonar_image{
    width: 30px;
    height: 30px;
}

 .fa-square-full{
    margin-right:1px;
 }
