<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">
<link href="https://fonts.googleapis.com/css?family=Teko:500" rel="stylesheet">
<script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer> </script>


<h1>B A T T L E S H I P</h1>

<div id="border">

<table id="opponent" class="battleGrid">
</table>

</div>
<div id="border">
<table id="player" class="battleGrid">
</table>
</div>

<h3>Place Your Ships</h3>
<ul id="ship_buttons">
    <li><button id="place_minesweeper">MINESWEEPER   <i class="fas fa-square-full"></i><i class="fas fa-square-full"></i></button></li>
    <li><button id="place_destroyer">DESTROYER   <i class="fas fa-square-full"></i><i class="fas fa-square-full"></i><i class="fas fa-square-full"></i></button></li>
    <li><button id="place_battleship">BATTLESHIP    <i class="fas fa-square-full"></i><i class="fas fa-square-full"></i><i class="fas fa-square-full"></i><i class="fas fa-square-full"></i></button></li>
    <li><button id="is_vertical">Rotate 90&deg   <i class="fas fa-undo"></i></button></li>
</ul>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>